<a href="https://colab.research.google.com/github/SyedHuzaifa007/PIAIC-Deep-Learning-Assignments/blob/main/Car_Price_Prediction_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Car Price Prediction::

Download dataset from this link:

https://www.kaggle.com/hellbuoy/car-price-prediction

# Problem Statement::

A Chinese automobile company Geely Auto aspires to enter the US market by setting up their manufacturing unit there and producing cars locally to give competition to their US and European counterparts.

They have contracted an automobile consulting company to understand the factors on which the pricing of cars depends. Specifically, they want to understand the factors affecting the pricing of cars in the American market, since those may be very different from the Chinese market. The company wants to know:

Which variables are significant in predicting the price of a car
How well those variables describe the price of a car
Based on various market surveys, the consulting firm has gathered a large data set of different types of cars across the America market.

# task::
We are required to model the price of cars with the available independent variables. It will be used by the management to understand how exactly the prices vary with the independent variables. They can accordingly manipulate the design of the cars, the business strategy etc. to meet certain price levels. Further, the model will be a good way for management to understand the pricing dynamics of a new market.

# WORKFLOW ::

1.Load Data

2.Check Missing Values ( If Exist ; Fill each record with mean of its feature )

3.Split into 50% Training(Samples,Labels) , 30% Test(Samples,Labels) and 20% Validation Data(Samples,Labels).

4.Model : input Layer (No. of features ), 3 hidden layers including 10,8,6 unit & Output Layer with activation function relu/tanh (check by experiment).

5.Compilation Step (Note : Its a Regression problem , select loss , metrics according to it)
6.Train the Model with Epochs (100) and validate it

7.If the model gets overfit tune your model by changing the units , No. of layers , activation function , epochs , add dropout layer or add Regularizer according to the need .

8.Evaluation Step

9.Prediction

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [28]:
# Loading the data
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/PIAIC Deep Learning Assignments/CarPrice_Assignment.csv')
df

     car_ID  symboling                   CarName  ... citympg highwaympg    price
0         1          3        alfa-romero giulia  ...      21         27  13495.0
1         2          3       alfa-romero stelvio  ...      21         27  16500.0
2         3          1  alfa-romero Quadrifoglio  ...      19         26  16500.0
3         4          2               audi 100 ls  ...      24         30  13950.0
4         5          2                audi 100ls  ...      18         22  17450.0
..      ...        ...                       ...  ...     ...        ...      ...
200     201         -1           volvo 145e (sw)  ...      23         28  16845.0
201     202         -1               volvo 144ea  ...      19         25  19045.0
202     203         -1               volvo 244dl  ...      18         23  21485.0
203     204         -1                 volvo 246  ...      26         27  22470.0
204     205         -1               volvo 264gl  ...      19         25  22625.0

[205 rows x 26 columns]

In [6]:
# Checking for null values
df.isnull()

     car_ID  symboling  CarName  fueltype  ...  peakrpm  citympg  highwaympg  price
0     False      False    False     False  ...    False    False       False  False
1     False      False    False     False  ...    False    False       False  False
2     False      False    False     False  ...    False    False       False  False
3     False      False    False     False  ...    False    False       False  False
4     False      False    False     False  ...    False    False       False  False
..      ...        ...      ...       ...  ...      ...      ...         ...    ...
200   False      False    False     False  ...    False    False       False  False
201   False      False    False     False  ...    False    False       False  False
202   False      False    False     False  ...    False    False       False  False
203   False      False    False     False  ...    False    False       False  False
204   False      False    False     False  ...    False    False       False  False

[205 rows x 26 columns]

In [9]:
df.shape

(205, 26)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

We See No Null Values

In [11]:
df.describe().T

                  count          mean  ...       75%       max
car_ID            205.0    103.000000  ...    154.00    205.00
symboling         205.0      0.834146  ...      2.00      3.00
wheelbase         205.0     98.756585  ...    102.40    120.90
carlength         205.0    174.049268  ...    183.10    208.10
carwidth          205.0     65.907805  ...     66.90     72.30
carheight         205.0     53.724878  ...     55.50     59.80
curbweight        205.0   2555.565854  ...   2935.00   4066.00
enginesize        205.0    126.907317  ...    141.00    326.00
boreratio         205.0      3.329756  ...      3.58      3.94
stroke            205.0      3.255415  ...      3.41      4.17
compressionratio  205.0     10.142537  ...      9.40     23.00
horsepower        205.0    104.117073  ...    116.00    288.00
peakrpm           205.0   5125.121951  ...   5500.00   6600.00
citympg           205.0     25.219512  ...     30.00     49.00
highwaympg        205.0     30.751220  ...     34.00     54.00
price             205.0  13276.710571  ...  16503.00  45400.00

[16 rows x 8 columns]

In [12]:
# Droping unecessary features
df.drop(['car_ID', 'symboling', 'CarName'], axis=1, inplace=True)

In [13]:
df

    fueltype aspiration doornumber  ... citympg highwaympg    price
0        gas        std        two  ...      21         27  13495.0
1        gas        std        two  ...      21         27  16500.0
2        gas        std        two  ...      19         26  16500.0
3        gas        std       four  ...      24         30  13950.0
4        gas        std       four  ...      18         22  17450.0
..       ...        ...        ...  ...     ...        ...      ...
200      gas        std       four  ...      23         28  16845.0
201      gas      turbo       four  ...      19         25  19045.0
202      gas        std       four  ...      18         23  21485.0
203   diesel      turbo       four  ...      26         27  22470.0
204      gas      turbo       four  ...      19         25  22625.0

[205 rows x 23 columns]

In [44]:
# Importing Modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
from sklearn.model_selection import train_test_split
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [35]:
# Prepairing Features and Labels

# Features
x = df.iloc[:,0:25]

# Labels
y = df.price

In [36]:
x

     car_ID  symboling                   CarName  ... peakrpm citympg highwaympg
0         1          3        alfa-romero giulia  ...    5000      21         27
1         2          3       alfa-romero stelvio  ...    5000      21         27
2         3          1  alfa-romero Quadrifoglio  ...    5000      19         26
3         4          2               audi 100 ls  ...    5500      24         30
4         5          2                audi 100ls  ...    5500      18         22
..      ...        ...                       ...  ...     ...     ...        ...
200     201         -1           volvo 145e (sw)  ...    5400      23         28
201     202         -1               volvo 144ea  ...    5300      19         25
202     203         -1               volvo 244dl  ...    5500      18         23
203     204         -1                 volvo 246  ...    4800      26         27
204     205         -1               volvo 264gl  ...    5400      19         25

[205 rows x 25 columns]

In [37]:
y

0      13495.0
1      16500.0
2      16500.0
3      13950.0
4      17450.0
        ...
200    16845.0
201    19045.0
202    21485.0
203    22470.0
204    22625.0
Name: price, Length: 205, dtype: float64

In [38]:
# Splitting the data into training and testing
X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size = 0.3, random_state = 42)

In [43]:
# One Hot Encoding Labels 
y = to_categorical(y)
y

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]], dtype=float32)

In [ ]:
4.Model : input Layer (No. of features ), 3 hidden layers including 10,8,6 unit & Output Layer with activation function relu/tanh (check by experiment).

In [ ]:
# Making Network

model = Sequential()