<a href="https://colab.research.google.com/github/SyedHuzaifa007/PIAIC-Deep-Learning-Assignments/blob/main/Ionosphere_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment: Ionosphere Data Problem

### Dataset Description: 

This radar data was collected by a system in Goose Bay, Labrador. This system consists of a phased array of 16 high-frequency antennas with a total transmitted power on the order of 6.4 kilowatts. See the paper for more details. The targets were free electrons in the ionosphere. "Good" radar returns are those showing evidence of some type of structure in the ionosphere. "Bad" returns are those that do not; their signals pass through the ionosphere.

Received signals were processed using an autocorrelation function whose arguments are the time of a pulse and the pulse number. There were 17 pulse numbers for the Goose Bay system. Instances in this databse are described by 2 attributes per pulse number, corresponding to the complex values returned by the function resulting from the complex electromagnetic signal.

### Attribute Information:

- All 34 are continuous
- The 35th attribute is either "good" or "bad" according to the definition summarized above. This is a binary classification task.

 <br><br>

<table border="1"  cellpadding="6">
	<tbody>
        <tr>
		<td bgcolor="#DDEEFF"><p class="normal"><b>Data Set Characteristics:&nbsp;&nbsp;</b></p></td>
		<td><p class="normal">Multivariate</p></td>
		<td bgcolor="#DDEEFF"><p class="normal"><b>Number of Instances:</b></p></td>
		<td><p class="normal">351</p></td>
		<td bgcolor="#DDEEFF"><p class="normal"><b>Area:</b></p></td>
		<td><p class="normal">Physical</p></td>
        </tr>
     </tbody>
    </table>
<table border="1" cellpadding="6">
    <tbody>
        <tr>
            <td bgcolor="#DDEEFF"><p class="normal"><b>Attribute Characteristics:</b></p></td>
            <td><p class="normal">Integer,Real</p></td>
            <td bgcolor="#DDEEFF"><p class="normal"><b>Number of Attributes:</b></p></td>
            <td><p class="normal">34</p></td>
            <td bgcolor="#DDEEFF"><p class="normal"><b>Date Donated</b></p></td>
            <td><p class="normal">N/A</p></td>
        </tr>
     </tbody>
    </table>
<table border="1" cellpadding="6">	
    <tbody>
    <tr>
		<td bgcolor="#DDEEFF"><p class="normal"><b>Associated Tasks:</b></p></td>
		<td><p class="normal">Classification</p></td>
		<td bgcolor="#DDEEFF"><p class="normal"><b>Missing Values?</b></p></td>
		<td><p class="normal">N/A</p></td>
		<td bgcolor="#DDEEFF"><p class="normal"><b>Number of Web Hits:</b></p></td>
		<td><p class="normal">N/A</p></td>
	</tr>
    </tbody>
    </table>

### WORKFLOW :
- Load Data
- Check Missing Values ( If Exist ; Fill each record with mean of its feature ) or any usless column.
- Shuffle the data if needed.
- Standardized the Input Variables. **Hint**: Centeralized the data
- Split into 60 and 40 ratio.
- Encode labels.
- Model : 1 hidden layers including 16 unit.
- Compilation Step (Note : Its a Binary problem , select loss , metrics according to it)
- Train the Model with Epochs (100).
- If the model gets overfit tune your model by changing the units , No. of layers , epochs , add dropout layer or add Regularizer according to the need .
- Prediction should be > **92%**
- Evaluation Step
- Prediction

# Load Data:
[Click Here to Download DataSet](https://github.com/ramsha275/ML_Datasets/blob/main/ionosphere_data.csv)

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [25]:
# Importing Modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.utils import  to_categorical
from sklearn.preprocessing import scale

In [5]:
df = pd.read_csv("/content/drive/MyDrive/ML_Datasets/ionosphere_data.csv")
df

     feature1  feature2  feature3  ...  feature33  feature34  label
0           1         0   0.99539  ...    0.18641   -0.45300      g
1           1         0   1.00000  ...   -0.13738   -0.02447      b
2           1         0   1.00000  ...    0.56045   -0.38238      g
3           1         0   1.00000  ...   -0.32382    1.00000      b
4           1         0   1.00000  ...   -0.04608   -0.65697      g
..        ...       ...       ...  ...        ...        ...    ...
346         1         0   0.83508  ...    0.90546   -0.04307      g
347         1         0   0.95113  ...    0.91483    0.04712      g
348         1         0   0.94701  ...    0.92697   -0.00577      g
349         1         0   0.90608  ...    0.87403   -0.16243      g
350         1         0   0.84710  ...    0.85764   -0.06151      g

[351 rows x 35 columns]

In [6]:
# Checking For Null Values
df.isnull().sum()

feature1     0
feature2     0
feature3     0
feature4     0
feature5     0
feature6     0
feature7     0
feature8     0
feature9     0
feature10    0
feature11    0
feature12    0
feature13    0
feature14    0
feature15    0
feature16    0
feature17    0
feature18    0
feature19    0
feature20    0
feature21    0
feature22    0
feature23    0
feature24    0
feature25    0
feature26    0
feature27    0
feature28    0
feature29    0
feature30    0
feature31    0
feature32    0
feature33    0
feature34    0
label        0
dtype: int64

### OUR DATA CONTAINS NO NULL VALUES

In [9]:
# Shuffling Data
df = df.sample(frac = 1)
df

     feature1  feature2  feature3  ...  feature33  feature34  label
226         0         0   0.00000  ...    0.00000    0.00000      b
149         1         0   0.90374  ...    0.97861    0.06417      g
189         1         0   1.00000  ...    1.00000    1.00000      g
228         0         0   1.00000  ...    1.00000    1.00000      b
146         1         0  -0.65625  ...    0.00000    0.09375      b
..        ...       ...       ...  ...        ...        ...    ...
277         1         0   0.49515  ...    0.37379   -0.01942      g
289         1         0   0.74916  ...    0.72837    0.02750      g
114         1         0   0.91353  ...    0.00000    0.00000      b
273         1         0   0.50112  ...    0.60674   -0.08090      g
84          1         0   0.74852  ...    0.56361    0.02959      g

[351 rows x 35 columns]

In [17]:
# Splitting The Dataset Into Training And Testing Data

# Training Data
train_data = df.iloc[:211,:]
train_data

     feature1  feature2  feature3  ...  feature33  feature34  label
226         0         0   0.00000  ...    0.00000    0.00000      b
149         1         0   0.90374  ...    0.97861    0.06417      g
189         1         0   1.00000  ...    1.00000    1.00000      g
228         0         0   1.00000  ...    1.00000    1.00000      b
146         1         0  -0.65625  ...    0.00000    0.09375      b
..        ...       ...       ...  ...        ...        ...    ...
196         1         0   1.00000  ...    1.00000    1.00000      b
296         1         0   0.88116  ...   -0.19312   -0.75597      g
256         1         0   0.62335  ...    0.61372   -0.09146      g
18          1         0   0.67065  ...    1.00000    0.33036      g
320         1         0   1.00000  ...    0.98971   -0.06668      g

[211 rows x 35 columns]

In [20]:
# Testing Data
test_data = df.iloc[211:,:]
test_data

     feature1  feature2  feature3  ...  feature33  feature34  label
285         1         0   0.58459  ...    0.44767   -0.10309      g
350         1         0   0.84710  ...    0.85764   -0.06151      g
75          0         0   1.00000  ...    1.00000   -1.00000      b
268         1         0   1.00000  ...    0.56167    0.15180      g
199         1         0   0.79847  ...    1.00000   -0.05740      g
..        ...       ...       ...  ...        ...        ...    ...
277         1         0   0.49515  ...    0.37379   -0.01942      g
289         1         0   0.74916  ...    0.72837    0.02750      g
114         1         0   0.91353  ...    0.00000    0.00000      b
273         1         0   0.50112  ...    0.60674   -0.08090      g
84          1         0   0.74852  ...    0.56361    0.02959      g

[140 rows x 35 columns]

In [18]:
# Dropping Labels From Training And Testing Data

# Train Labels
train_labels = train_data.pop('label')
train_labels

226    b
149    g
189    g
228    b
146    b
      ..
196    b
296    g
256    g
18     g
320    g
Name: label, Length: 211, dtype: object

In [21]:
# Test Labels
test_labels = test_data.pop('label')
test_labels

285    g
350    g
75     b
268    g
199    g
      ..
277    g
289    g
114    b
273    g
84     g
Name: label, Length: 140, dtype: object

In [22]:
# Standardizing Training And Testing Data

train_data = scale(train_data)
train_data

array([[-2.72763634,  0.        , -1.25146615, ...,  2.01839262,
        -0.70641443,  0.07612021],
       [ 0.36661779,  0.        ,  0.53871521, ...,  0.23283811,
         1.2211723 ,  0.21443865],
       [ 0.36661779,  0.        ,  0.72939268, ...,  2.01839262,
         1.26330459,  2.2316203 ],
       ...,
       [ 0.36661779,  0.        , -0.0166978 , ...,  0.0353663 ,
         0.50244153, -0.12102183],
       [ 0.36661779,  0.        ,  0.07699683, ...,  0.56086445,
         1.26330459,  0.78821122],
       [ 0.36661779,  0.        ,  0.72939268, ..., -0.07332765,
         1.24303618, -0.06760854]])

In [24]:
test_data = scale(test_data)
test_data

array([[ 0.31994094,  0.        , -0.14685067, ..., -0.29889534,
         0.20702518, -0.41579948],
       [ 0.31994094,  0.        ,  0.39485583, ..., -0.19159381,
         0.96292073, -0.32604162],
       [-3.12557687,  0.        ,  0.71037495, ..., -0.06225093,
         1.22540162, -2.35194016],
       ...,
       [ 0.31994094,  0.        ,  0.53193847, ..., -0.06225093,
        -0.61838098, -0.19326128],
       [ 0.31994094,  0.        , -0.31909646, ...,  0.14231923,
         0.50031567, -0.3678984 ],
       [ 0.31994094,  0.        ,  0.19142957, ..., -0.33443654,
         0.42079333, -0.12938597]])

In [27]:
# One Hot Encoding Labels

# Train Labels
train_labels = pd.get_dummies(train_labels)
train_labels

     b  g
226  1  0
149  0  1
189  0  1
228  1  0
146  1  0
..  .. ..
196  1  0
296  0  1
256  0  1
18   0  1
320  0  1

[211 rows x 2 columns]

In [28]:
# Test Labels
test_labels = pd.get_dummies(test_labels)
test_labels

     b  g
285  0  1
350  0  1
75   1  0
268  0  1
199  0  1
..  .. ..
277  0  1
289  0  1
114  1  0
273  0  1
84   0  1

[140 rows x 2 columns]

In [ ]:
# Making Base Model

# Model : 1 hidden layers including 16 unit.
# Compilation Step (Note : Its a Binary problem , select loss , metrics according to it)
# Train the Model with Epochs (100).